.classA{
    width: 100%;
    overflow: hidden;
    height: 380px;
}

.classB{
    width: 100%;
    overflow: hidden;
    height: 480px;
}

@media (min-width: 991.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}

@media (min-width: 767.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 575.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}